In [2]:
# Necessary imports
import pandas as pd
import numpy as np
import seaborn as sns
from  matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import RidgeCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [3]:
# set paths of the data files
PATH_S = '/Users/jadams/ds/metis/baseball_lin_regression/data/processed_df/salary.csv'
PATH_R = '/Users/jadams/ds/metis/baseball_lin_regression/data/processed_df/rookies.csv'
PATH_RS = '/Users/jadams/ds/metis/baseball_lin_regression/data/processed_df/rookie_stats.csv'

In [4]:
# get the salary and stats data
df_stats = pd.read_csv(PATH_RS, index_col = 0)
df_salary = pd.read_csv(PATH_S, index_col = 0)

In [7]:
# get salary down to only those with 6 years of history
df_salary['year_6'] = df_salary.Year + 6
df_salary.merge(df_salary, left_on=['Year', right_on='year_6').head()

,Year_x,Age_x,Tm_x,Salary_x,SrvTm_x,Sources_x,Notes/Other Sources_x,name_x,UID_x,year_6_x,Year_y,Age_y,Tm_y,Salary_y,SrvTm_y,Sources_y,Notes/Other Sources_y,name_y,UID_y,year_6_y
0,2010,27.0,Seattle Mariners,1150000.0,3.087,NaN,NaN,Mark Lowe,1,2016,2004,26.0,Minnesota Twins,300000.0,NaN,4/7/04 AP,NaN,Brad Thomas,298,2010
1,2010,27.0,Seattle Mariners,1150000.0,3.087,NaN,NaN,Mark Lowe,1,2016,2004,24.0,Los Angeles Dodgers,301000.0,NaN,4/7/04 AP,NaN,Joe Thurston,301,2010
2,2010,27.0,Seattle Mariners,1150000.0,3.087,NaN,NaN,Mark Lowe,1,2016,2004,26.0,Minnesota Twins,300000.0,NaN,4/7/04 AP,NaN,Brad Thomas,298,2010
3,2010,27.0,Seattle Mariners,1150000.0,3.087,NaN,NaN,Mark Lowe,1,2016,2004,24.0,Los Angeles Dodgers,301000.0,NaN,4/7/04 AP,NaN,Joe Thurston,301,2010
4,2010,27.0,Seattle Mariners,1150000.0,3.087,NaN,NaN,Mark Lowe,1,2016,2004,26.0,Minnesota Twins,300000.0,NaN,4/7/04 AP,NaN,Brad Thomas,298,2010

In [2]:
import time
import sys

toolbar_width = 40

# setup toolbar
sys.stdout.write("[%s]" % (" " * toolbar_width))
sys.stdout.flush()
sys.stdout.write("\b" * (toolbar_width+1)) # return to start of line, after '['

for i in range(toolbar_width):
    time.sleep(0.1) # do real work here
    # update the bar
    sys.stdout.write("-")
    sys.stdout.flush()

sys.stdout.write("\n")

[                                        ----------------------------------------